/*	*************************************
	Modules
	************************************* */
.navbar-brand {
	padding: 0px;
	display: flex;
	align-items: center;
	margin-bottom: 0;
}

.navbar-brand > img {
	height: 100%;
	width: auto;
	padding: 5px 10px 5px 0;
}

.navbar-inverse .navbar-toggle {
	border: none;
}

/*	*************************************
	Layout
	************************************* */
body{
	background-color:rgb(245,255,255);
	font-family:Courier New, Helvetica, sans-serif;
	color:rgb(255,255,232);
	background-image:url(../images/animal-umbreon-pokemon.jpg);
	background-repeat:no-repeat;
	background-size:cover;
	margin-top: 80px;
}
.container{
	margin:0 auto;
	max-width:960px;
}
h1{
	margin:0px 0px 0px 0px;
	color:rgb(255,150,0);
	border-bottom:1px solid rgb(86,0,255);
}
h2{
	margin:0px 0px 0px 0px;
}
img{
	float:right;
	margin-left:15px;
	margin-bottom:10px;
}
a{
	color:rgb(255,150,0);
	text-decoration:none;
}
a:hover {
	color:#7D9C9F;
}
footer{
	border-top:1px solid #AD235E;
	margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 0;
  }
}